body {
    background-color:lightcoral;
}
#red {
color: aqua;
border: 2px solid blueviolet;
margin-left: 25%;
margin-right: 25%;
text-align: center;
}
.cake {
    border: 2px solid blueviolet;
    border-radius: 50%;
    position: absolute;
    right:35%;
}
