body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: radial-gradient(lightblue, lightgreen, lightblue);
}

.talk{
	padding: 3% 5%;
	font-size: 650%;
	background: lightskyblue;
	border: 7px dashed darkgoldenrod;
}
#content{
	display: none;
}